* {
  box-sizing: border-box;
}

:root {
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--slate-300);

  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Outfit', sans-serif;
}

.container {
  max-width: 320px;
  min-width: 320px;
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.05);
}

.qrImage {
  width: 100%;
  max-width: 288px;
  padding: 0 0 0 0;
  height: auto;
  border-radius: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  font-size: 1rem;
  max-width: 280px;
}

h2 {
  font-weight: 700;
  color: var(--slate-900);
}

p {
  font-size: 15px;
  font-weight: 400;
  color: var(--slate-500);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 16px;
  color: var(--slate-500);
}

.attribution a {
  color: var(--slate-900);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}



/* Large desktop (≥1440px) */
@media (min-width: 1440px) {
  h2 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

}

/* Mobile (≤375px) */
@media (max-width: 375px) {
  .container {
    width: 95%;
    padding: 12px;
  }
}